<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bpjskelompok4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Pendaftaran" />
        <activity android:name=".Manfaat" />
        <activity android:name=".Alamat" />
        <activity android:name=".Pcare" />
        <activity android:name=".Iuran" />
        <activity android:name=".Prosedurpend" />
        <activity android:name=".About" />
        <activity android:name=".Jaminankesehatan" />
        <activity android:name=".Peserta" />
        <activity android:name=".CekIuran" />
        <activity android:name=".FasKes">
        </activity>
    </application>

</manifest>